.banner {
  position: relative;
  width: 100%;
  height: auto;
  /* height: 716px; */
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .banner-title {
  position: absolute;
  top: 155px;
  left: 739px; 
  bottom: 0;
  display: flex;
  align-items: center; 
  justify-content: flex-start; 
  background: #fff3e3;
  color: #fff;
  width: 45%;
  height: 443px;
  border-radius: 10px;
}

.banner-title .container {
  width: 561px; 
  background: #fff3e3;
  text-align: left; 
  margin-left: 39px; 
}
.banner-title span {
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  color: black;
}
.banner-title h2 {
  font-size: 52px;
  font-weight: 700;
  color: #b88e2f;
  line-height: 65px;
}
.banner p {
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: black;
  padding-top: 10px;
}

.banner-title button {
  margin-top: 62px;
  padding: 10px 20px;
  background-color: #b88e2f;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: 222px;
  height: 74px;
}
@media (max-width: 1380px) {
  .banner-title {
    left: 33%;
  }
}
@media (max-width: 1335px) {
  .banner-title {
    left: 33%;
  }
}
@media (max-width: 1330px) {
  .nav ul {
    margin-left: -170px;
  }
  .nav-icon {
    margin-right: -15px;
  }
}
@media (min-width: 1440px) {
  .banner-title {
    left: 50%;
  }
} */
