.hp-container {
  margin-top: 40px;
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center;
}
.range {
  width: 81.15%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.range-title {
  display: inline-block; /* Make the range-title behave like an inline block to respect the text-align */
  margin: 0 auto;
}

.range-title h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
}

.range-title > span {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  align-items: center;
  margin-left: 43px;
}
.range-item span {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  align-items: center;
}
.range-item {
  width: 82%;
  margin-top: 40px;
  display: flex;
  gap: 20px;
}
.range-item img {
  box-sizing: border-box;
  height: 90%;
  width: 100%;
  object-fit: cover;
  margin-bottom: 19px;
}
.range-item > .bedroom {
  margin-left: -2px;
}
@media (max-width: 560px) {
  .range-item {
    gap: 10px;
  }
}
@media (max-width: 500px) {
  .range-item {
    flex-direction: column;
    width: 100%;
  }
  .range-item img {
    border-radius: 30px;
    height: 36vh;
  }
  .range-title h2 {
    font-size: 28px;
  }
  .range-title > span {
    font-size: 17px;
    margin-left: 5px;
  }
  .hp-container {
    margin-top: 5px;
  }
  .range-item span {
    font-size: 20px;
  }
}
