.cart-title {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  padding-top: 9px;
  padding-inline: 7px;
}

.cart-title h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.cart-title i {
  color: rgba(159, 159, 159, 1);
  height: 19px;
  width: 17px;
  font-size: 24px;
  padding-right: 35px;
}

.cart-title__hr {
  margin-top: 15px;
  margin-bottom: 30px;
  margin-left: 10px;
  width: 85%;
}

.cart-body {
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin-bottom: 10px;
}

.cart-body img {
  width: 25%;
  border-radius: 10px;
  object-fit: cover;
}

.cart-body > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* Căn lề trái cho nội dung */
}

.cart-body > div > span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 5px;
  /* Khoảng cách giữa name và các thẻ p */
}

.cart-body > div > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cart-body > div > div > p {
  margin: 0;
  font-size: 16px;
  padding: 0 5px;
  /* Khoảng cách giữa các thẻ p */
}

.cart-body i {
  color: rgba(159, 159, 159, 1);
  font-size: 20px;
  cursor: pointer;
  margin-left: 15px;
  /* Khoảng cách giữa nội dung và icon xóa */
}

.price {
  color: rgba(184, 142, 47, 1);
}

.cart-buttons {
  display: flex;
  justify-content: space-between;

  margin-top: -18px;
}

.btn {
  text-align: center;
  background-color: white;
  /* Optional: Change the background color */
  border: 1px solid rgba(0, 0, 0, 1);
  padding: 6px 30px 6px 30px;
  gap: 10px;
  border-radius: 50px;
  font-size: 16px;
  font-family: "Poppins";
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#b88e2f),
    to(#0e0e0e)
  );
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

.total {
  margin-top: 30px;
}

.total-name {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  width: 68px;
  height: 24px;
  top: 615px;
  left: 1054px;

  opacity: 0px;
}

.total-price {
  padding-left: 113px;
  width: 117px;
  height: 24px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: rgba(184, 142, 47, 1);
}

.cart-buttons a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.cart-buttons :hover {
  background-color: rgba(249, 241, 231, 1);
}

.cart-list {
  height: 65vh;
  overflow-y: auto;
}

.total-block {
  height: 15vh;
}
.p {
  font-size: 30px;
  color: #b88e2f;
}

@media ((max-width: 1500px)) {
  .cart-buttons {
    gap: 7px;
    flex-direction: column;
  }
}

@media ((max-width: 1128px)) {
  .total-price {
    font-size: 14px;
  }

  .total-name {
    font-size: 14px;
    text-align: center;
  }
}

@media ((max-width: 1051px)) {
  .total-price {
    font-size: 12px;
  }

  .total-name {
    font-size: 12px;
    text-align: center;
  }
}
