.container-compare {
    width: 100%;
    padding: 30px 50px;
    display: flex;
    gap: 20px;
}

.group-1 {
    width: 25%;
    text-align: left;
}

.group-1>span {
    font-family: 'Poppins';
    font-size: 28px;
    font-weight: 500;
    line-height: 35.42px;

}

.view-more {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #727272;
    margin-top: 10px;
    color: #c0b6b6;
    border-bottom: 2px solid #c0b6b6;
    width: max-content;
    cursor: pointer;
}

.view-more:hover {
    color: gray;
    border-bottom: 2px solid gray;
}

.group-1>a:hover {
    text-decoration: none;
}



.group-2,
.group-3 {
    width: 25%;
}

.group-4 {
    width: 25%;
}

.select-product {
    width: 100%;
    border-radius: 6px;
    padding: 10px 15px;
    background-color: #B88E2F;
    border: none;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 600;
    line-height: 17.71px;
    text-align: left;
    color: white;
}

.group-2>img,
.group-3>img {
    width: 90%;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.group-2>span,
.group-3>span {
    font-size: 24px;
    font-weight: 500;
    line-height: 30.36px;
    text-align: left;
}

.group-2>p,
.group-3>p {
    margin-top: 10px;
}

.group-start {
    display: flex;
    align-items: center;
}

.group-start>p {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    margin-right: 10px;
}

.bi-star-fill {
    color: #FFC700;
    cursor: pointer;
}

.number-review {
    font-family: 'Poppins';
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: left;
    color: #9F9F9F;
}

.group-4>span {
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 600;
    line-height: 30.36px;
}

table {
    border-top: 1px solid #E8E8E8;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 50px;
}

td {
    width: 25%;
    border-top: none;
    border-bottom: none;
    border-right: 1px solid #E8E8E8;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 400;
    line-height: 25.3px;
    text-align: left;
}

th {
    width: 25%;
    border-top: none;
    border-bottom: none;
    border-right: 1px solid #E8E8E8;
    font-family: 'Poppins';
    font-size: 28px;
    font-weight: 500;
    line-height: 35.42px;
    text-align: left;
}

th,
td {
    padding: 15px 50px;
}

.margin-top-th {
    padding-top: 50px;
}

.button-add-to-cart {
    background-color: #B88E2F;
    padding: 15px 46px;
    border-radius: 1px;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #fff;
    min-width: 211px;
    cursor: pointer;
}

.button-add-to-cart:hover {
    background-color: #654a06;
}