.slider-main {
  width: 100%;
  height: 670px;
  background: rgba(252, 248, 243, 1);
  display: flex;
  justify-content: center;
}

.slider-title {
  width: 30%;
  display: flex;
  flex-direction: column; /* Aligns children in a column */
  justify-content: center; /* Centers children vertically */
  height: 100%;
  margin-left: 100px;
}

.slider-content {
  width: 60%;
  display: flex;
  justify-content: right; /* Centers the block horizontally */
  align-items: center; /* Centers the block vertically */
}

.slider-container {
  margin-left: 40px;
  width: 100%; /* Ensures the slider takes up only as much width as needed */
}

.slider-title h3 {
  width: 35%;
  height: 96px;
  gap: 0px;
  opacity: 0px;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
}
.slider-title p {
  width: 91%;
  height: 48px;
  top: 3089px;
  left: 100px;
  gap: 0px;
  opacity: 0px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.slider-title button {
  width: 176px;
  height: 48px;
  top: 3162px;
  left: 100px;
  gap: 0px;
  opacity: 0px;
  color: white;
  border: none;
  background: rgba(184, 142, 47, 1);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  margin-top: 20px;
}

.slider-container img {
  object-fit: cover;
}
.first-img {
  width: 404px !important;
  height: 582px !important;
  margin-left: 12px;
}

.other-img {
  width: 372px !important;
  height: 486px !important;
  margin-left: 22px;
}
.first-img2 {
  width: 404px !important;
  height: 582px !important;
}

.other-img2 {
  width: 372px !important;
  height: 486px !important;
}
.slick-prev:before {
  display: None !important;
}
.slick-next {
  width: 0 !important;
  height: 0 !important;
}
.slick-next:before {
  font-family: "slick";
  font-size: 48px !important;
  line-height: 1;
  opacity: 0.75;

  /* color: rgba(0, 0, 0, 0.16) !important; */
}
.slick-next {
  right: 56px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.slider-div {
  width: 404px !important;
}
.slider-div2 {
  width: 372px !important;
}
.slick-slide div {
  width: 372px !important;
}
.slider-div2 {
  width: 372px;
}

@media ((max-width: 1405px)) {
  .other-img,
  .first-img {
    width: 351px !important;
    height: 582px !important;
    margin-left: 10px;
  }
  div.slider-div2 {
    width: 351px !important;
  }
}

@media ((max-width: 1300px)) {
  .other-img,
  .first-img {
    width: 297px !important;
    height: 442px !important;
    margin-left: 0px;
  }
}
@media ((max-width: 1060px)) {
  .other-img,
  .first-img {
    width: 270px !important;
    height: 385px !important;
  }
  .other-img {
    margin-left: -12px;
  }
}
@media ((min-width: 1600px)) {
  .other-img {
    width: 412px !important;
    height: 512px !important;
  }
  .first-img {
    width: 444px !important;
    height: 585px !important;
  }
}
@media ((min-width: 1800px)) {
  .other-img {
    width: 442px !important;
    height: 512px !important;
  }
  .first-img {
    width: 479px !important;
    height: 585px !important;
  }
}
@media only screen and (min-width: 601) and (max-width: 1024px) {
  .slider-title {
    margin-left: -6px !important;
  }
}
